<div class="mail-box-section tab-space mailbox-tab-space" *ngIf="mailCount !== undefined && mailCount !== null">
  <ng-container *ngIf="mailCount > 0; then mailList; else mailEmpty"></ng-container>
  <ng-template #mailList>
    <div>
      <div class="float-right">
        <button class="btn btn-md comment-btn" (click)="open()">
          <span class="fa fa-plus"></span> {{'new comment' | translate}}</button>
      </div>
      <div class="clearfix"></div>
      <div class="mailbox-table">

        <div class="mail-messages" *ngFor="let mail of mailBox?.mails" (click)="readMail(mail)">
          <div class="row right-space-none">
            <div class="col-7 col-xs-7 spacing-none mail-inbox" [ngClass]="{'read':!mail?.unread , 'unread':mail?.unread}">
              <div class="image">
                <img *ngIf="mail?.labelImage == ''" src="assets/common/images/mindspark.png" />
                <img *ngIf="mail?.labelImage != ''" src="{{ mail?.labelImage }}" />
              </div>
              <label>{{ mail?.messagePreview | shorten: textlimit : '...'}}</label>
            </div>
            <div class="col-3 col-xs-3 spacing-none">
              <div class="comment-count" *ngIf="mail?.replies">
                <div class="comments"></div> {{ mail?.replies }} {{'comments' | translate}}
              </div>
            </div>
            <div class="col-2 col-xs-2 spacing-none">
              <h6 *ngIf="mail?.lastUpdatedDate">
                <i class="fa fa-clock-o"></i> {{ mail?.lastUpdatedDate | amParse:'YYYY-MM-DD hh:mm:ss A' | amDateFormat:'DD/MM/YYYY HH:mm:ss' }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #mailEmpty>
    <div class="mail-blank-state">
      <div class="row container">
        <div class="col-md-4 text-right">
          <img src="assets/common/images/mail-blank-state.png" />
        </div>
        <div class="col-md-8 text-left">
          <h6 class="heading">{{ 'no conversations yet' | translate }}!</h6>
          <p class="sub-heading">{{ 'communicate with mindspark by new conversation' | translate }}</p>
          <button class="btn btn-md comment-btn" (click)="open()">{{ 'start conversation' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
