<div class="modal-header fly-notification-header">
  <button type="button" class="close" aria-label="Close">
    <!-- (click)="d('Cross click')" -->
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body fly-notification-ct">
  <div class="notificationContent-ct">
    <div class="notificationContent-main-cont">
      <div class="sparkie-image">
        <img class="" src="../../../../assets/common/images/Sparkie-Champ.png" title="Sparkie Champ">
      </div>
      <div class="message">
        <span>Awesome!</span>
        <p>You are the Sparkie Champ for last week</p>
      </div>
    </div>
    <div class="starCloud">
      <img class="star-clouds-image" src="../../../../assets/common/images/star-clouds.png" title="star clouds">
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-light">Close</button>
  (click)="c('Close click')"
</div> -->
