<div class="higher-tabStyle">
  <ul class="list-inline">
    <li class="tab-link-item" *ngIf="permittedNavs?.reward">
      <a class="router-ct" routerLink="/my-mindspark/rewards" routerLinkActive="active">{{ 'rewards' | translate }}</a>
    </li>
    <li class="tab-link-item" *ngIf="permittedNavs?.mailbox">
      <a class="router-ct" routerLink="/my-mindspark/mailbox" routerLinkActive="active">{{ 'mailbox' | translate }}</a>
    </li>
    <li class="tab-link-item" *ngIf="permittedNavs?.myDetails">
      <a class="router-ct" routerLink="/my-mindspark/my-details" routerLinkActive="active">{{ 'my details' | translate }}</a>
    </li>
    <li class="tab-link-item" *ngIf="permittedNavs?.myFavourities">
      <a class="router-ct" routerLink="/my-mindspark/starred-questions" routerLinkActive="active">{{ 'starred questions' | translate }}</a>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
