@import '../../../../assets/common/styles/global.variables.scss';
.questions-container {
  padding-left: 0px;
  padding-right: 0px;
}

.question-container-section {
  position: relative !important;
}
